<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onin.project.mapper.EbmemberMapper">


<select id="memberLogin" resultType="com.onin.project.dto.MemberDTO">
SELECT * FROM MEMBER WHERE email=#{email} AND PWD =#{pwd}
</select>
</mapper>