<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onin.project.mapper.ExpertsMapper">

<!--전문가찾기 -->
<select id="categorySel" resultType="com.onin.project.dto.CategoryDTO">
select * FROM CATEGORY where LV = 1
</select>
<select id="categorySel_1" resultType="com.onin.project.dto.CategoryDTO">
select * FROM CATEGORY where cno=#{cno}
</select>
<select id="categorySel_2" resultType="com.onin.project.dto.CategoryDTO">
select * FROM CATEGORY where CNOREF=#{cno}
</select>
<select id="categorySel_3" resultType="com.onin.project.dto.CategoryJoinDTO">
SELECT  c.cno,c.cname,c2.cno AS dcno,c2.CNAME AS dcname FROM CATEGORY c, CATEGORY c2 WHERE c.cno=c2.CNOREF AND c2.cno = #{dcno}
</select>
<update id="profUpload">
   UPDATE MEMBER SET PROF=#{dbSaveName} WHERE MNO=#{mno}
</update>

<insert id="save">
	insert into pro_member(mno,profile_img,name,intro,profile)
	values(#{mno},#{profile_img},#{name},#{intro},'asd')

</insert>

</mapper>
