<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onin.project.mapper.YKMapper">

<select id="memberSet" resultType="com.onin.project.dto.MemberDTO">
select * FROM Member
</select>

<update id="pwdChange">
update MEMBER set pwd=#{pwd} where email=#{email}

</update>

<delete id="memberDelete">

DELETE FROM MEMBER WHERE MNO=#{mno}

</delete>

</mapper>
